{{!-- <div id="viewport">
  <div class="button-slider">
    <button class="prev" id="prev"><svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.557 5.558L10.5 4.5 6 9l4.5 4.5 1.057-1.057L8.123 9l3.434-3.442z" fill="#000" />
      </svg></button>
    <div class="content-text">
      <p class="text">rfntujhbz</p>
      <p class="text">другое</p>
    </div>
    <button class="next" id="next">
      <svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.442 5.558L7.5 4.5 12 9l-4.5 4.5-1.058-1.057L9.877 9 6.442 5.558z" fill="#000" />
      </svg>
    </button>
  </div>
  <div class="slider" style="left: 0"> --}}
{{!-- new version --}}
{{#each this}}
<div class="slide">
  <li class="card-list-item ">
    <div class="item-card">
      <img class="slide-img img-cont" src="{{imageUrls}}" alt='cat'>
      <div class="card-content">
        <p class="goods-item">{{title}}</p>
        <div class="prices">
          <p class="old-price"></p>
          <p class="new-price">{{price}}</p>
        </div>
      </div>
    </div>
  </li>
</div>
{{/each}}
{{!-- </div>
</div>
<div id="viewSlider">
  <div class="viewSlide"></div>
  <div class="viewSlide"></div>
  <div class="viewSlide"></div>
  <div class="viewSlide"></div>
  <div class="viewSlide"></div>
</div> --}}